
/* ABOUT */
.about-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 60px 80px;
}

/* LEFT */
.about-left {
    position: relative;
}

.about-left img {
    width: 380px;
    background: #eaeaea;
    box-shadow: 10px 10px 2px #dbdbdb;
}

.spinner {
    position: absolute;
    top: 20px;
    left: -40px;
    width: 100px;
    height: 100px;
    border: 4px solid #000;
    border-top-color: transparent;
    border-radius: 50%;
}

/* RIGHT */
.about-right {
    max-width: 520px;
}

.about-right h1 {
    font-size: 72px;
    letter-spacing: 2px;
    margin-bottom: 24px;
    color: var(--clr2);
}

.about-right p {
    font-size: 14px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 16px;
}

/* EXPERIENCE */
.experience h3,
.skills h3 {
    font-size: 16px;
    margin-top: 24px;
    color: var(--clr2);
    margin-bottom: 8px;
}

.experience p {
    font-size: 14px;
    color: #444;
}

.experience span {
    color: #777;
}

/* SKILLS */
.skills ul {
    list-style: disc;
    padding-left: 20px;
}

.skills ul li {
    font-size: 14px;
    margin-bottom: 6px;
    color: #444;
}

/* BUTTON */
.view-btn {
    display: inline-block;
    margin-top: 24px;
    padding: 10px 26px;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    transition: 0.3s;
}

.view-btn:hover {
    background: #000;
    color: #fff;
}

/* SOCIALS */
.socials {
    display: flex;
    gap: 16px;
    position: relative;
    margin-top: 30px;
}

.socials a {
    color: #000;
    font-size: 16px;
    transition: 0.3s;
}

.socials a:hover {
    color: var(--clr2);

}

/* LINE */
.socials::after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 4px;
    background: #000;
    margin-top: 35px;
}



@media (width<=826px) {  
 .about-container {
        flex-direction: column;
        text-align: center;
         padding: 10px 30px;
    }

    

    .spinner {
        display:none ;
    }

    .skills ul {
        list-style: none;
        padding-left: 0;
    }

    .about-right h1 {
        font-size: 52px;
    }
    .socials {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}



}
