
/* ======================
   CONTACT SECTION
====================== */
.contact-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.contact-container {
  width: 100%;
  max-width: 1200px;
  position: relative;
  display: flex;
  gap: 60px;
}

/* ======================
   LEFT IMAGE
====================== */
.contact-image {
  flex: 1;
}

.contact-image img {
  width: 100%;
 
  height: 100%;
}

/* ======================
   RIGHT CONTENT
====================== */
.contact-content {
  flex: 1.2;
}

.contact-content h1 {
  font-size: 56px;
  margin-bottom: 40px;
}

/* FORM & INFO BOX */
.contact-box {
  padding: 40px;
  border: 2px solid #000;

  display: flex;
  gap: 40px;
}

/* ======================
   FORM
====================== */
.contact-form {
  flex: 1;
  width: 100%;
}

.contact-form label {
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border:none ;
  border-bottom: 2px solid #000;
  background: transparent;
  margin-bottom: 28px;
  resize: none;
  padding: 6px 2px;
  outline: none;
}

.contact-form button {
  background: #000;
  color: #fff;
  padding: 14px 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

/* ======================
   INFO SECTION
====================== */
.contact-info {
  width: 220px;
}

.contact-info .title {
  font-weight: 600;
  margin-bottom: 6px;
}

.contact-info p {
  font-size: 14px;
  margin-bottom: 18px;
}

/* SOCIAL ICONS */
.contact-socials {
  display: flex;
  gap: 14px;
}

.contact-socials a {
  width: 34px;
  height: 34px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
}

/* ======================
   RESPONSIVE
====================== */

/* Tablet */
@media (max-width: 900px) {
  .contact-image img {
    display: none;
  }
  .contact-container {
    flex-direction: column;
  }

  .contact-content h1 {
    font-size: 44px;
    text-align: center;
  }

  .contact-box {
    flex-direction: column;
  }

  .contact-info {
    width: 100%;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .contact-content h1 {
    font-size: 34px;
  }

  .contact-box {
    padding: 25px;
  }

  .contact-form button {
    width: 100%;
  }

  .contact-info,
  .contact-socials {
    text-align: center;
    justify-content: center;
  }
  .contact-image {
    display: none;
  }

}